body{
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #258AD2;
    color: white;
    height: 100vh;
    margin: 0;
}

#left{
    width: 600px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5DAFE9;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 74px;
}

#left h1{
    font-size: 64px;
    font-weight: 900;
}

#right{
    width: 400px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 74px;
    color: #258AD2;
}

#right h2{
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

input[type="text"], input[type="email"], input[type="password"]{
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus{
    outline: none;
    border-color: #258AD2;
    box-shadow: 0 0 5px rgba(37, 138, 210, 0.5);
}

input[type="submit"]{
    background-color: #258AD2;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover{
    background-color: #1E6FB8;
    transform: scale(1.1);
}

input[type="submit"]:active{
    background-color: #155A8F;
    transform: scale(0.9);
}

a{
    color: #258AD2;
    text-decoration: none;
    margin-top: 20px;
    font-size: 16px;
}

a:hover{
    text-decoration: underline;
}