body {
  display: flex;
  flex-direction: column;
}


nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3em 0;
  padding: 0 40px;
  align-items: center;
  height: 15vh;
  user-select: none;
  background-color: #002147;
}

#logo {
  font-size: 48px;
  background-image: linear-gradient(to right, #fff 3%, #258ad2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  line-height: 40px;
}

a {
  color: rgba(255, 255, 255, 0.747);
  text-decoration: none;
  transition: 0.3s;
  font-size: 32px;
  font-weight: 700;
}

a::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #59b8fb;
  transition: width 0.3s;
}

a:hover::after {
  width: 100%;
}

a:hover {
  color: rgb(255, 255, 255);
}

#navbar {
  list-style: none;
  display: flex;
}

#navbar li {
  letter-spacing: 3px;
  margin-left: 36px;
  color: rgb(179, 179, 179);
}

/*Main*/

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main h1 {
  font-size: 48px;
  margin-bottom: 16px;
  margin-top: 16px;
  color: #274365;
}

#cardsdiv {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  margin-top: 32px;
  margin-bottom: 40px;
  justify-content: space-between;
  gap: 130px;
}

/* ====== CARD FIXO ====== */

.card {
  background-color: #DBF0FF;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 260px;            
  height: 380px;          
  padding: 24px;
  text-align: left;
  display: flex;          
  flex-direction: column;  
  justify-content: space-between; 
  align-items: center;
}

.cardimg {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.alugarbtn {
  background-color: #258AD2;
  font-family: Poppins, sans-serif;
  color: white;
  padding: 12px 32px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.5s;
  margin-top: auto;       
}

.alugarbtn:hover {
  background-color: #1E6FB8;
  transform: scale(1.1);
  box-shadow: 0 0 10px #1E6FB8;
}

.alugarbtn:active {
  background-color: #155A8F;
  box-shadow: none;
  transform: scale(0.9);
}

.modal{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.modal.open {
  z-index: 10;
  opacity: 1;
}

.modal-inner {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 500px;
  width: 900px;
  display: flex;
  flex-direction: row;
}

#left {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  justify-content: center;
}

#left img {
  width: 300px;
  height: auto;
}

#right {
  flex: 1;
  padding: 0 20px;
}

#right h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #274365;
}

#right ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px 0;
}

#right ul li {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

#closeModal {
  background-color: #258AD2;
  font-family: Poppins, sans-serif;
  color: white;
  padding: 12px 32px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.5s;
}

#closeModal:hover {
  background-color: #1E6FB8;
  transform: scale(1.1);
  box-shadow: 0 0 10px #1E6FB8;
}

#closeModal:active {
  background-color: #155A8F;
  box-shadow: none;
  transform: scale(0.9);
}

#disponivel {
  color: green;
  font-weight: bold;
}



